.item
{ 
	width: 280px;
	margin-bottom: 15px;
	margin-left: 5px;
	margin-top: 0px;
	border-bottom: 0 !important;
}

/* center container with CSS */
#container
{
	margin: 0 auto;
}

#viewPaper .ui-panel-inner{
	padding: 4px;
}

#contentViewPaper{
	padding: 7px !important; 
}

.bodyPaper
{
	padding: 7px !important; 
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}

.item.w2 { width: 120px; }
.item.w3 { width: 180px; }
.item.w4 { width: 240px; }

.item.h2 { height: 100px; }
.item.h3 { height: 130px; }
.item.h4 { height: 180px; }