<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <div data-role="page" id="pageNewPaper" data-dialog="true" data-theme="a" data-close-btn="right">
        <script src="../scripts/newPaper.js" type="text/javascript"></script>
        <link href="../styles/newPaper.css" rel="stylesheet" />
        <div data-role="header" data-theme="b">
            <h1>Novo Paper</h1>
            <a href="#loadPhoto" data-rel="popup" data-transition="flow" class="ui-btn ui-btn-icon-notext ui-icon-camera">Imagem</a>
        </div>
        <div class="imgLiquid imgLiquidFill" style="width: 100%; height: 250px;">
            <img class="imagePaper"/>
        </div>
        <textarea id="contentPaper" placeholder="Conteúdo do paper aqui"></textarea>
        <div class="ui-body" id="local"></div>
        <div class="ui-body ui-body-b">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <label data-theme="b" class="ui-shadow">
                        <input type="checkbox" name="checkin" id="checkin" data-mini="true">Check in
                    </label>
                </div>
                <div class="ui-block-b">
                    <a href="location.html" data-transition="flow" class="ui-btn ui-mini ui-shadow ui-btn-icon-left ui-icon-location">Local</a>
                </div>
            </div>
            <select id="categoriesPaper" class="ui-mini">
                    <option value="none" selected>SELECIONE UMA CATEGORIA</option>
                    <option value="HOTEL" data-translate="HOTEL"></option>
                    <option value="RESTAURANTE" >Restaurante</option>
                </select>
        </div>
        <div data-role="footer" data-theme="b">
            <a id="btnSavePaper" class="ui-btn ui-btn-icon-left ui-icon-arrow-u ui-shadow">Salvar</a>
        </div>
        <div data-role="popup" id="loadPhoto" data-overlay-theme="b" data-position="window" data-theme="b" data-dismissible="false" style="width:270px;">
            <div role="main" class="ui-content">
                <a href="#" class="ui-btn ui-btn-b ui-corner-all ui-shadow ui-mini" id="btnTakePic">Camera</a>
                <a href="#" class="ui-btn ui-btn-b ui-corner-all ui-shadow ui-mini" id="btnChooseImage">Galeria</a>
                <a href="#" class="ui-btn ui-btn-b ui-corner-all ui-shadow ui-mini" id="btnCancel" data-rel="back">Cancelar</a>
                <p style="text-align: center">Imagens no formato paisagem ficam melhor posicionadas no paper</p>
            </div>
        </div>
        <div data-role="popup" id="popupOk" data-theme="a" class="ui-corner-all">
                <div style="padding:10px 20px; text-align: center;">
                    <h3>Seu paper foi adicionado com sucesso!</h3>
                </div>
        </div>
        
    </div>
</body>

</html>
