<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
	</head>

	<body>
		<div data-role="page" id="pageNewPaper" data-dialog="true" data-theme="a" data-close-btn="right">
			<script src="../scripts/newPaper.js" type="text/javascript"></script>
			<link href="../styles/newPaper.css" rel="stylesheet" />
			<div data-role="header" data-theme="a">
				<h1>Novo Paper</h1>
				<a href="#loadPhoto" data-rel="popup" class="ui-no-button">
					<span class="icon32-camera4"></span>
				</a>
			</div>
			<div class="imgLiquid imgLiquidFill" style="width: 100%; height: 250px;">
				<img class="imagePaper"/>
			</div>
			<textarea id="contentPaper" placeholder="Conteúdo do paper aqui"></textarea>
			<div class="ui-body" id="local"></div>
			<div class="ui-body ui-body-a">
				<div class="ui-grid-a">
					<div class="ui-block-a">
						<label data-theme="a" class="ui-shadow">
							<input type="checkbox" name="checkin" id="checkin">Check in
						</label>
					</div>
					<div class="ui-block-b">
						<a href="location.html" data-transition="flow" 
						   class="ui-btn ui-shadow">
							<span class="icon-location3" style="float: left"></span>Local
						</a>
					</div>
				</div>
				<select id="categoriesPaper" class="ui-mini cd-select">
					<option value="-1" selected>SELECIONE UMA CATEGORIA</option>
					<option  value="HOTEL" data-translate="HOTEL"></option>
					<option value="RESTAURANTE" >Restaurante</option>
					<option value="POUSADA" >Pousada</option>
					<option value="LOJA" >Loja</option>
					<option value="LUGAR" >Lugar</option>
				</select>
			</div>
			<div data-role="footer" data-theme="a">
				<a id="btnSavePaper" class="ui-btn ui-shadow ui-mini">
					<span class="icon-publish" style="float: left"></span>
					<span style="float: right; margin-left: 5px;">Publicar</span>
				</a>
			</div>
			<div data-role="popup" id="loadPhoto" data-overlay-theme="a" data-position="window" data-theme="a" data-dismissible="false" style="width:270px;">
				<div role="main" class="ui-content">
					<a href="#" class="ui-btn ui-btn-a ui-corner-all ui-shadow ui-mini" id="btnTakePic">Camera</a>
					<a href="#" class="ui-btn ui-btn-a ui-corner-all ui-shadow ui-mini" id="btnChooseImage">Galeria</a>
					<a href="#" class="ui-btn ui-btn-a ui-corner-all ui-shadow ui-mini" id="btnCancel" data-rel="back">Cancelar</a>
					<p style="text-align: center">Imagens no formato paisagem ficam melhor posicionadas no paper</p>
				</div>
			</div>
			<div data-role="popup" id="popupOk" data-overlay-theme="a" data-theme="a" data-dismissible="false" class="ui-corner-all">
				<div style="padding:10px 20px; text-align: center;">
					<span class="icon32-notification" style="float: left"></span>
					<h3>Seu paper foi adicionado com sucesso!</h3>
				</div>
			</div>
			<div data-role="popup" id="popupSaving" style="width: 100px; border: none; margin : 0px auto;" 
				 data-overlay-theme="a" data-theme="a" data-dismissible="false" class="ui-corner-all">
				<div style="padding:10px 20px; text-align: center;">
					<img style="width:100%" src="../images/loading.gif"/>
				</div>
			</div>
		</div>
	</body>

</html>
