<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html >
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<div data-role="page" id="pageUser" data-theme="a">
			<script src="../scripts/pageUser.js" type="text/javascript"></script>
			<script src="../scripts/score.js" type="text/javascript"></script>
			<script src="../scripts/comment.js" type="text/javascript"></script>
			<script src="../scripts/tip.js" type="text/javascript"></script>
			<link href="../styles/pageUser.css" rel="stylesheet"/>
			<div data-role="header" class="ui-shadow" data-theme="a" id="sticker" style="right: 0px; left: 0px; z-index: 10;">
				<a href="#panelMenu" class="ui-no-button">
					<span class="icon32-menu2"></span>
				</a>
				<h1 id="titleWecolmeTo">WelcomeTo</h1>
				<a href="#panelUser" class="ui-no-button">
					<span class="icon32-user6"></span>
				</a>
			</div>
			<div role="main" class="ui-content">
				<div id="container" style="height: auto;">

				</div>
			</div>
			<div data-role="panel" id="panelMenu" data-display="overlay" data-position-fixed="true">
				<div data-role="header" class="ui-shadow" data-theme="a" style=" position: absolute; top: 0px; right: 0px; left: 0px;">
					<a class="ui-no-button"></a>
					<a href="#" data-rel="close" class="ui-no-button">
						<span class="icon32-arrow-right3"></span>
					</a>
					<h1 id="titleWecolmeTo">WelcomeTo</h1>
				</div>
				<div style="margin-top: 40px;">
					<ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Buscar Categoria">
						<li data-icon="false">
							<a href="#">
								Hotéis <span class="icon32-bookmark2" style="float: right"></span>
							</a>
						</li>
						<li data-icon="false">
							<a href="#">
								Restaurantes <span class="icon32-bookmark2" style="float: right"></span>
							</a>
						</li>
						<li data-icon="false">
							<a href="#">
								Pousadas <span class="icon32-bookmark2" style="float: right"></span>
							</a>
						</li>
						<li data-icon="false">
							<a href="#">
								Lojas <span class="icon32-bookmark2" style="float: right"></span>
							</a>
						</li>
						<li data-icon="false">
							<a href="#">
								Lugares <span class="icon32-bookmark2" style="float: right"></span>
							</a>
						</li>
						<li data-icon="false">
							<a href="#">
								Amigos <span class="icon32-bookmark2" style="float: right"></span>
							</a>
						</li>
					</ul>
				</div>
			</div><!-- /panel -->
			<div data-role="panel" id="panelUser" data-position="right" data-display="overlay" data-position-fixed="true" data-animate="true">
				<div data-role="header" class="ui-shadow" data-theme="a" style=" position: absolute; top: 0px; right: 0px; left: 0px;">
					<a href="#" data-rel="close" class="ui-no-button">
						<span class="icon32-arrow-left3"></span>
					</a>
					<h1 id="titleWecolmeTo">WelcomeTo</h1>
				</div>
				<ul data-role="listview" data-inset="true" style="margin-top: 40px;">
					<li data-icon="false">
						<a href="profile.html" data-transition="flow">
							<img class="imageProfile"/>
							<span class="icon32-profile" style="float: right"></span>
							<h2>Meu Perfil</h2>
							<p class="displayName"></p>
						</a>
					</li>
					<li data-icon="false">
						<a href="newPaper.html" data-transition="flow">
							<span class="icon32-newspaper2" style="float: right"></span>
							Novo Paper
						</a>
					</li>
					<li data-icon="false">
						<a href="#popupSearch" data-rel="popup" data-transition="none" class="ui-icon-search">
							Pesquisar <span class="icon32-search3" style="float: right"></span>
						</a>
					</li>
				</ul>
			</div><!-- /panel -->
			<div data-role="panel" id="viewPaper" data-animate="true" data-display="overlay" data-position-fixed="true">
				<div style="position: absolute; right: 0; left: 0; top: 0; bottom: 0; overflow: scroll;">
					<div class="ui-body ui-body-a" id="contentViewPaper" style="max-width: 450px; margin: 0px auto;">

					</div>
				</div>
			</div>
			<div data-role="popup" id="popupSearch" data-overlay-theme="a" data-theme="a" data-dismissible="false" style="width:290px;">
				<div role="main" class="ui-content">
					<input data-theme="a" type="text" placeholder="País" class="ui-shadow"/>
					<input data-theme="a" type="text" placeholder="Estado" class="ui-shadow"/>
					<input data-theme="a" type="text" placeholder="Cidade" class="ui-shadow"/>
					<select id="categoriesPaper" class="ui-mini">
						<option value="none" selected>SELECIONE UMA CATEGORIA</option>
						<option value="HOTEL" data-translate="HOTEL">Hotél</option>
						<option value="RESTAURANTE" >Restaurante</option>
						<option value="POUSADA" >Pousada</option>
						<option value="LOJA" >Loja</option>
						<option value="LUGAR" >Lugar</option>
						<input data-theme="a" type="text" placeholder="Pesquisa" class="ui-shadow"/>
					</select>
					<a href="#" class="ui-btn ui-shadow ui-btn-inline ui-btn-a" data-rel="back">Cancelar</a>
					<a href="#" class="ui-btn ui-shadow ui-btn-inline ui-btn-a" data-rel="back" data-transition="flow">Pesquisar</a>
				</div>
			</div>
			<div data-role="popup" id="popupComment"
				 data-overlay-theme="b" data-theme="a" data-dismissible="false" style="width:290px;">
				<div data-role="header" data-theme="a">
					<h1>Comentário</h1>
				</div>
				<div role="main" class="ui-content">
					<textarea id="comment"></textarea>
					<a href="#" class="ui-btn ui-shadow ui-btn-inline ui-btn-a ui-mini" data-rel="back">Cancelar</a>
					<a href="#" id="btnSaveComment" class="ui-btn ui-shadow ui-btn-inline ui-btn-a ui-mini" data-rel="back">Salvar</a>
				</div>
			</div>
			<div data-role="popup" id="popupRaty" data-arrow="true"
				 data-overlay-theme="b" data-theme="a" data-dismissible="false" style="width:190px;">
				<div role="main" class="ui-content">
					<div id="score" data-score="0"></div>
					<a href="#" class="ui-btn ui-shadow ui-btn-inline ui-btn-a ui-mini" data-rel="back">Cancelar</a>
					<a href="#" id="btnSaveScore" class="ui-btn ui-shadow ui-btn-inline ui-btn-a ui-mini" data-rel="back">Salvar</a>
				</div>
			</div>
			<div data-role="popup" id="commentOk" data-overlay-theme="a" data-theme="a" data-dismissible="false" class="ui-corner-all">
				<div style="padding:10px 20px; text-align: center;">
					<span class="icon32-notification" style="float: left"></span>
					<h3>Seu comentário foi adicionado com sucesso!</h3>
				</div>
			</div>
		</div>
	</body>
</html>
